<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>404</title>
  <link rel="stylesheet" href="/css/styles.css" type="text/css">
</head>
<body>
  <div class="navbar">
    <div class="bar-container">
      <p>Socialite</p>
      <p>Account</p>
    </div>
  </div>
  <div class="body">
    <div class="body-container">
      <h1>404 Not Found</h1>
      <p>This is not a valid page</p>
    </div>
  </div>
  <footer class="footer">
    <div class="bar-container">
      <div></div>
      <p>Made by gccody (gccody#0001 on Discord)</p>
      <div></div>
    </div>
  </footer>
</body>
</html>